@page
@model MVC.Pages.Datebooks.NewModel
@{
}
<main>
    <div class="form-row top-buffer">

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-6 form-group">
                <label for="ID">Nombre Paciente :</label>
                <div class="control-group">
                    <select id="patient" class="demo-default" placeholder="Escriba nombre"></select>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-6 form-group">

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-6 form-group">
                <label for="ID">Fecha Cita :</label>
                <input id="datebook" class="form-control form-control-lg" type="text" placeholder="Fecha">
            </div>
            <div class="col-sm-6 col-md-6 col-xs-6 form-group">
                <label for="ID">Tipo Cita :</label>
                <select id="type" class="form-control" placeholder="Escriba nombre"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 form-group">
                <label for="ID">Descripción :</label>
                <textarea id="description" class="form-control form-control-lg" rows="3" type="text"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 form-group">
                <button type="button" class="btn btn-primary" id="btnCreate" >Crear Cita</button>
            </div>
        </div>
    </div>
</main>