@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">Test .Net Developer </h2>
                <p class="lead">David Gómez</p>
            </div>
        </div>
</header>

<main>
    @*<div class="demo">
        <h2>&lt;select&gt;</h2>
        <div class="control-group">
            <label for="select-beast">PPP:</label>
            <select id="select-beast" class="demo-default" placeholder="Select a PPPPPP...">
                <option value="">Write P...</option>
                <option value="4">Thomas Edison</option>
                <option value="1">Nikola</option>
                <option value="3">Nikola Tesla</option>
                <option value="5">Arnold Schwarzenegger</option>
            </select>
        </div>*@

    </div>
    @*<div class="form-row top-buffer">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-6 form-group">
                    <label for="ID">Identificador Paciente :</label>
                    <input id="idPatient" class="form-control form-control-lg" type="number" placeholder="Identificador">
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6 form-group">

                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-6 form-group">
                    <label for="ID">Fecha Cita :</label>
                    <input id="datebook" class="form-control form-control-lg" type="text" placeholder="Dates">
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6 form-group">
                    <label for="ID">Tipo Cita :</label>
                    <input id="type" class="form-control form-control-lg" type="number" placeholder="Tipo Cita">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 form-group">
                    <label for="ID">Descripción :</label>
                    <textarea id="description" class="form-control form-control-lg" rows="3" type="text" ></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 form-group">
                    <button type="button" class="btn btn-primary" id="btnCreate">Crear Cita</button>
                    <button type="button" class="btn btn-primary" id="btnSearch">Buscar Cita</button>
                </div>
            </div>

        </div>
        <div class="row top-buffer">
            <div id="jsGrid"></div>
        </div>*@
</main>
