@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">Test .Net Developer </h2>
                <p class="lead">David Gómez</p>
            </div>
        </div>
</header>

<main>
    <ul>
        <li>1. listar citas: permite consultar las citas asignadas a los pacientes.</li>
        <li>2. listar citas: permite seleccionar la cita a cancelar.</li>
        <li>3. Crear citas: permite seleccionar un paciente y asignarle una cita.</li>
    </ul>
</main>
