@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">Test .Net Developer </h2>
                <p class="lead">David Gómez</p>
            </div>
        </div>
</header>

<main>
   Eureka!!!
</main>
